* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-family: "Poppins";
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: blue;
  transform-origin: 0%;
}

.slick-slide > div {
  margin: 0 35px !important;
}

@media screen and (min-width: 1024) {
  .slick-slide > div {
    margin: 0 0 0 20px;
  }
}

@media screen and (min-width: 425) {
  .slick {
    background-color: red !important;
    height: 100px !important;
  }
}
@media screen and (min-width: 1440) {
  .slick-slide > div {
    padding: 15px !important;
  }
}
