@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-collapse-header {
  padding: 18px !important;
}
.ant-collapse-item {
  border: none !important;
  margin: 5px;
}

.ant-collapse-expand-icon {
  color: slategrey;
}
.ant-collapse-header-text {
  color: rgb(30, 91, 151) !important;
  font-size: 16px;
  font-weight: 500;
}
.ant-collapse-header-collapsible-only:hover {
  background-color: rgb(209, 209, 217);
  border-radius: 5px;
}

.ant-form-item-label > label {
  color: gray !important;
  font-size: 1em !important;
}

.buttonhover:hover {
  background-color: #d2620c !important;
}

.createbtnhover:hover {
  background-color: #ec771d !important;
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-inline-end: 8px;
}
