@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-collapse-header {
  padding: 18px !important;
}
.ant-collapse-item {
  border: none !important;
  margin: 5px;
}
.ant-collapse-expand-icon {
  color: slategrey;
}
.ant-collapse-header-text {
  color: rgb(19, 8, 8);
  font-size: 16px;
  font-weight: 500;
}
.ant-collapse-header-collapsible-only:hover {
  background-color: rgb(221, 143, 26);
  border-radius: 5px;
}

.ant-form-item-label > label {
  color: rgb(32, 27, 27) !important;
  font-size: 1em !important;
}

.buttonhover:hover {
  background-color: #d2620c !important;
}

.createbtnhover:hover {
  background-color: #ec771d !important;
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-inline-end: 8px;
}

.ant-table-thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ant-table-width {
  width: 60%;
}
